header{
    background-color: #03f ;
    color: white;
}

.cabecalho-imagem{
    width: 18%;
}

.cabecalho {
    background-color: #0b3983;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 18px;
}

*{
    margin: 0;
    padding: 0;
}
